@mixin fontBasic14 {
    font-family:'Cafe24Simplehae', cursive;
    font-size: 16px;
    line-height: 100%;
    font-weight: 800;
    color: black;
    letter-spacing: 1px;
}

.fontBasic14{
    @include fontBasic14;
}

@mixin fontBasic12 {
    font-family:'Cafe24Simplehae', cursive;
    font-size: 14px;
    line-height: 100%;
    font-weight: 800;
    color: white;
    letter-spacing: 1.5px;
}

.fontBasic12{
    @include fontBasic12;
}